<!DOCTYPE html>
<lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>CONTENT</h1>
    <p>サブスク名: {{ content.name }}</p>
    <p>値段: {{ content.price }}</p>
    <p>登録日: {{ content.entry.strftime('%Y/%m/%d') }}</p>
    <p>継続日数: {{ content.payment_date.strftime('%Y/%m/%d') }}</p>
    <p></p>
  </body>
  <body>
    <a href="{{ url_for('edit.edit', id=content.id) }}">編集</a>
    <a href="{{ url_for('delete.delete', id=content.id) }}">削除</a>
  </body>
</html>
