<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <h1>TOP</h1>

    <!--デバック用目次は機能が実装出来次第消去します-->
    <p>デバッグ用目次</p>
    <a href="edit">編集</a>
    <a href="add">追加</a> 
    <a href="content">個別の内容</a><br><br>

    <a href="add">サブスクの追加</a>
    <div id="graphs-container">
        <div id="totalchart-container">
            <canvas id="totalchart" width="600" height="600" ></canvas>
        </div>
        <div id="individual-container">
            <canvas id="individualchart" width="600" height="600" ></canvas>
        </div>
    </div>
    <script>
        <!--index.htmlからindex.jsにcontents_dictとして渡す-->
        window.contents_dict = {{ contents_dict|tojson|safe }};
        console.log("Contents dict initialized:", window.contents_dict);
    </script>
    <script src="static/index.js"></script>
</body>
</html>